
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

html, body{
    background-color: rgb(117, 97, 97);
    margin: 0%;
}


form{
    position: absolute;
    top:100px;

}

iframe{
    position: absolute; 
    right:400px; 
    top:100px;
    float: right;
    width:250px; 
    height:175px;
}

h1{
    position: absolute; top:150px; 
    text-align: center;
    font-family: 'Frijole', cursive;
}
.crypto{
    width: 100%;
    height:150px;
    position:absolute;
    top:300px;
}
img{
position:absolute;
top:500px;
width: 100%;
height:200px;

}
.clo{
    position: absolute; 
    top:150px; 
    left: 500px;
    text-align: center;
    font-family: 'Frijole', cursive;
}
    